<div class="container-fluid ">
    <h1 class="text-center mt-4">Customer Management Dashboard</h1>
    
    <div class="row mt-5 justify-content-center">
      
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add New Customer</h5>
            <p class="card-text">Add a new customer to your database.</p>
            <a routerLink="/customers/addcustomer" class="btn btn-primary">Add Customer</a>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">view customers</h5>
            <p class="card-text">Generate reports and analyze customer data.</p>
            <a routerLink="/customers/list" class="btn btn-primary">View Customers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  